body {
  margin: 25px;
  background-color:#0ABEEB;
  font-family: arial, sans-serif;
  font-size: 14px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color:#fffff;
}

input[type=button] {
    background-color: #fffff;
    color: #0ABEEB;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}

input[type=button]:hover {
    background-color: #fffff;
}