body {
  margin: 25px;
  background-color:#792892;
  font-family: arial, sans-serif;
  font-size: 20px;
  color:#fffff;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color:#fffff;
}

